body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
.icon-container {
    display: flex;
    gap: 10px;
}

.word-list1 {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}
.word-list-item1 {
    display: flex;
    padding-left: 42px;
    flex-direction: row;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
}
.word-list {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
}
.word-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
}

.word-list-item111 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
}


.select{
    margin-left:60%;
    border-radius:3px;
    height:28.3px;
}


.class11{padding-left: 15%;}
.class1{padding-left: 13%;}
.class2{padding-left: 12%;}
.class3{padding-left: 12%;}
.class4{padding-left: 11%;}
/* Responsive styles for mobile */


.webbox{
    display: flex;
    flex-direction: row;
}



/*add.html,view.html,edit.html*/

/* style.css */

.bodybody {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.h1h1 {
    text-align: center;
    padding: 20px 0;
    color: #333;
}

#postForm {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.div {
    height: 15%;
    margin-bottom: 20px;
    width: 100%;
}
.div1 {
    display: flex;
    flex-direction: row;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.submit{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
        max-width: 100%;
        margin: 0;
    }
    .word-list-item {
        flex-direction: row;
        padding-left: 0;
    }
    .word-list-item1 {
        flex-direction: row;
        padding-left: 8%;
    }
    .word-list-item > span, .word-list-item1 > span {
        padding: 5px 0;
    }
    /* Adjust other elements for mobile here... */

    .select{
        margin-left:30%;
        border-radius:3px;
        height:28.3px;
    }

    .class11{margin-left: 8%;}
    .class1{margin-left: 8%;}

    .class2{margin-left: 6%;}
    .class3{margin-left: 6%;}
    .class4{margin-left: 6%;}


    /*add.html,view.html,edit.html*/

    .bodybody {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .h1h1 {
        text-align: center;
        padding: 20px 0;
        color: #333;
    }

    #postForm {
        width: 70%;
        height: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .div {
        width: 100%;
        height: 15%;
        margin-bottom: 20px;
    }
    .div1 {
        display: flex;
        flex-direction: column;
    }
    .label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
    }
    .text {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
    }

    .submit{
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .submit:hover {
        background-color: #0056b3;
    }

    .webbox{
        display: flex;
        flex-direction: column;
    }
}